<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1 class="text-center login-title"><%= t "sessions.new.title" %></h1>
        <%= form_for(:session, url: login_path, remote: true) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, class: "form-control", placeholder: t("users.new.label_email") %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, class: "form-control", placeholder: t("users.new.label_password") %>
          </div>

          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me, class: "check-box" %>
            <span><%= t "sessions.new.remember_content" %></span>
          <% end %>
          <%= f.submit t("sessions.new.title"), class: "btn btn-accent btn-lg btn-block" %>
        <% end %>
        <p class="sign-up">
          <%= t "sessions.new.content1" %>
          <%= link_to t("sessions.new.signup"), signup_path %>
        </p>
      </div>
    </div>
  </div>
</div>
