<div class="row justify-content-center">
  <div class="col-md-4">
    <h1 class="text-center login-title"><%= t ".title" %></h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control", placeholder: t(".label_email") %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: t(".label_password") %>
      </div>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me, class: "check-box" %>
        <span><%= t ".remember_content" %></span>
      <% end %>
      <%= f.submit t(".title"), class: "btn btn-accent btn-lg btn-block" %>
    <% end %>

    <p class="sign-up"><%= t ".content1" %><%= link_to t(".signup"), signup_path %></p>
  </div>
</div>
