<h1><%= t "mail.thank" %></h1>
<h1><%= t "mail.your_info" %></h1>
<h4><%= t "mail.name" %> <%= @order.name %></h4>
<h4><%= t "mail.phone" %> <%= @order.phone %></h4>
<h4><%= t "mail.address" %> <%= @order.address %></h4>
<h4><%= t "mail.total" %> <%= @order.total %></h4>
