<div class="row justify-content-center">
  <div class="col-md-6">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name, t("users.new.label_name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :address, t("users.new.label_address") %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :phone, t("users.new.label_phone") %>
      <%= f.text_field :phone, class: "form-control" %>

      <%= f.submit t("update"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
