<h1><%= "#{t("orders.title")} #{@order.id}" %></h1>
<div class="panel panel-default panel-table">
  <div class="panel-body">
    <table class="table table-list table-hover">
      <thead class="thead-dark">
        <tr>
          <th><%= t "orders.id" %></th>
          <th><%= t "carts.product_name" %></th>
          <th><%= t "products.index.quantity" %></th>
          <th><%= t "products.index.price" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "order_detail", collection: @order_details, as: :order_detail %>
      </tbody>
    </table>
  </div>
  <%=  render "user" %>
  <div class="panel-footer">
    <div class="row">
      <div class="col col-xs-8">
        <%= will_paginate @order_details %>
      </div>
    </div>
  </div>
</div>
