<% if @oder_details.empty? %>
  <p>
    <%= t "carts.empty_cart" %>
    <%= link_to t("shop"), products_path %>
    <%= t "carts.empty_cart2" %>
  </p>
<% else %>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col"><%= t "carts.product_name" %></th>
        <th scope="col"><%= t "carts.price" %></th>
        <th scope="col"><%= t "carts.quantity" %></th>
      </tr>
    </thead>
    <tbody>
    <% @oder_details.each do |order_item| %>
      <%= render "carts/cart_row", product: order_item.product, order_item: order_item %>
    <% end %>
    </tbody>
  </table>
<% end %>
