<tr id="category-<%= category.id %>">
  <td><%= category.name %></td>
  <td><%= category.parent_category %></td>
  <td align="center">
    <%= link_to edit_admin_category_path(category) do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    <%= link_to admin_category_path(category), method: :delete,
      remote: true, data:{confirm: t(".sure")} do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  </td>
  <% if category.parent_category.blank? %>
    <ul>
      <% if category.subcategories.any? %>
        <%= render partial: "subcategory", collection: @subcategories, as: :subcategory %>
      <% end %>
    </ul>
  <% end %>
</tr>
