<%= form_for [:admin, @category] do |f| %>
  <div class="form-group">
    <%= f.label :name, t(".label_name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :parent_category %>
    <%= f.collection_select :parent_category, Category.order(:name), :id, :name,
      {prompt: true}, {class: "form-control"} %>
  </div>

  <%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>
