<ul>
  <% if category.subcategories.present? && category.parent_category.blank?  %>
    <li>
      <h4 class="sub-menu">
        <a data-toggle="collapse" href="#cate-<%= category.id %>">
          <%= category.name %>
          <i class="fa fa-angle-down"></i>
        </a>
      </h4>
      <div class="collapse" id="cate-<%= category.id %>">
      <ul class="closed">
        <%= render partial: "categories/subcategory", collection: category.subcategories, as: :subcategory %>
      </ul>
      </div>
    </li>
  <% elsif category.parent_category.blank? %>
    <li><%= link_to category.name, fetch_items_path(cat_id: category.id), remote: true %></li>
  <% end %>
</ul>
