<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td><%= user.address %></td>
  <td><%= user.phone %></td>
  <td>
    <% if user.active %>
      <span class="status text-success"><%= t ".active" %></span>
    <% else %>
      <span class="status text-danger"><%= t ".inactive" %></span>
    <% end %>
  </td>
  <td align="center">
    <%= link_to user, method: :delete,
      remote: true, data:{confirm: t(".sure")} do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
