 <% provide :title, t(".page_title")%>

 <div class="panel panel-default panel-table">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <h3 class="panel-title"><%= t ".panel_title" %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <%= will_paginate @users %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-list users-index">
      <thead>
        <tr>
          <th class="name"><%= t ".name" %></th>
          <th class="email"><%= t ".email" %></th>
          <th class="role"><%= t "users.role" %></th>
          <th class="address"><%= t ".address" %></th>
          <th class="phone"><%= t ".phone" %></th>
          <th class="activated"><%= t ".activated" %></th>
          <th><em class="fa fa-cog"></em></th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col col-xs-4">
        <%= page_entries_info @users %>
      </div>
      <div class="col col-xs-8">
        <%= will_paginate @users %>
      </div>
    </div>
  </div>
</div>
