<article class="product-item-wrap col-md-4 col-sm-6">
  <div class="product-item-inner">
    <div class="product-thumb">
      <a href="#">
        <%= image_tag("product-53.jpg", class: "product-image") %>
      </a>
    </div>
    <div class="product-info">
      <h4 class="product-title"><%= product.title %></h4>
      <span class="price"><%= number_to_currency product.price %></span>
    </div>
    <div class="product-action">
      <%= form_for order_detail, remote: true do |f| %>
        <div class="input-group">
          <%= f.hidden_field :quantity, value: Settings.cart_size, class: "form-control", min: Settings.cart_size %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit t("add_to_card"), class: "btn btn-accent" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>
