<% provide :page_title, @product.name %>
<div id="primary-content">
  <div class="products-single-wrapper clearfix">
    <div class="container">
      <div class="row clearfix">
        <div class="product-wrap">
          <div class="single-product-info d-flex">
            <div class="col-sm-5">
              <div class="single-product-image">
                <div class="single-product-main">
                  <%= image_tag("product-53.jpg", class: "product-main-image") %>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <h3 class="product-title"><%= @product.name %></h3>
              <p class="product-rating">
                <% @product.rate_average.to_i.round.times do %>
                  <i class="fa fa-star"></i>
                <% end %>
              </p>
              <span class="product-price"><%= number_to_currency @product.price %></span>
              <p class="product-des">
                <%= @product.description %>
              </p>
              <div class="product-action">
                <div class="product-quantity">
                  <a class="fa fa-minus btn-number"></a>
                  <input type="text" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size = "5">
                  <a class="fa fa-plus btn-number"></a>
                </div>
                <% if @product.quantity > Settings.product_min %>
                  <%= link_to t("add_to_card"), add_cart_path(@product), remote: true,
                    method: :get, class: "btn-accent add-to-card" %>
                <% else %>
                  <button class = "btn-accent add-to-card"><%= t "sold_out" %></button>
                <% end %>
              </div>
              <span class="category">
                <%= t "admin.products.index.category" %>
                <%= link_to @product.category.name, "#" %>
              </span>
              <div class="product-share">
                <span><%= t "share_text" %></span>
                <ul class="share-items list-inline">
                  <li><a href="#" class="fa fa-facebook"></a></li>
                  <li><a href="#" class="fa fa-twitter"></a></li>
                  <li><a href="#" class="fa fa-google"></a></li>
                  <li><a href="#" class="fa fa-pinterest"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="box" id="comments">
            <h4 class="product-section-title"><%= t "comment_section" %></h4>
            <hr>
            <div class="comment-product">
              <%= render @product.comments %>
            </div>
            <div class="comment-new">
              <h4 class="product-section-title"><%= t "leave_comment" %></h4>
              <% if user_signed_in? %>
                <%= render  partial: "comments/form" %>
              <% else %>
                <%= link_to t("require_login_comment"), new_user_session_path, class: "btn btn-warning" %>
              <% end %>
            </div>
          </div>
          <div class="single-product-content justify-content-center d-flex">
            <div class="col-md-12">
              <div class="product-rating">
                <h3 class="product-section-title"><%= t "button_rate" %></h3>
                <div class="prodduct-rating">
                  <%= render partial: "ratings/old", collection: @ratings, as: :rating %>
                  <%= render partial: "ratings/rating_form" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
