<div id="primary-content">
  <div class="products-single-wrapper clearfix">
    <div class="container">
      <div class="row clearfix">
        <div class="product-wrap">
          <div class="single-product-info d-flex">
            <div class="col-sm-5">
              <div class="single-product-image">
                <div class="single-product-main">
                  <%= image_tag("product-53.jpg", class: "product-main-image") %>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <h3 class="product-title"><%= @product.title %></h3>
              <p class="product-des">
                <%= @product.description %>
              </p>
              <div class="product-action">
                <div class="product-quantity">
                  <a class="fa fa-minus btn-number"></a>
                  <input type="text" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size = "5">
                  <a class="fa fa-plus btn-number"></a>
                </div>
                 <%= link_to t("add_to_card"), "#", class: "btn-accent add-to-card" %>
              </div>
              <span class="category">Category:
              <a href="#"><%= @product.category.name %></a>
              </span>
              <div class="product-share">
                <span>Share:</span>
                <ul class="share-items list-inline">
                  <li><a href="#" class="fa fa-facebook"></a></li>
                  <li><a href="#" class="fa fa-twitter"></a></li>
                  <li><a href="#" class="fa fa-google"></a></li>
                  <li><a href="#" class="fa fa-pinterest"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single-product-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
